.name-and-stats {
	display: grid;
	grid-template-columns: max-content 1fr auto max-content;
	grid-template-rows: repeat(2, 1fr);
	grid-template-areas:
		'before name-row subtitle after'
		'before data-row subtitle after';
}

.subtitle-box {
	grid-area: subtitle;
	margin: 0.1rem 1.7rem 0.1rem -1.7rem; /* Accounting for the name-row's negative margin */
	padding: 0 1.5rem;

	display: flex;
	align-items: center;
	justify-content: center;

	background: var(--black-75);
	color: var(--white);
	font-size: 1.25rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: background-color var(--fade-fast-duration) ease;
	z-index: 10;
}

.name-and-stats.--ct .subtitle-box {
	border-left: 0.2rem solid var(--counter-terrorists-fill);
}

.name-and-stats.--t .subtitle-box {
	border-left: 0.2rem solid var(--terrorists-fill);
}

.name-and-stats::before,
.name-and-stats::after {
	content: '';
	display: block;
	width: 1.5rem;

	transition: background-color var(--fade-fast-duration) ease;
	z-index: 1;
}

.name-and-stats::before {
	grid-area: before;
	transform: skewX(20deg);
}

.name-and-stats::after {
	grid-area: after;
	transform: skewX(-20deg);
}

.name-and-stats.--ct::before,
.name-and-stats.--ct::after {
	background: var(--counter-terrorists-fill);
}

.name-and-stats.--t::before,
.name-and-stats.--t::after {
	background: var(--terrorists-fill);
}
