.sidebar {
	bottom: var(--lan66-sidebar-bottom);
}

.sidebar.--left {
	left: var(--lan66-sidebar-left);
}

.sidebar.--right {
	right: var(--lan66-sidebar-right);
}

.sidebar.--left.--moved-upwards-by-series-graph {
	transform: translateY(calc(-1 * var(--series-graph-height) - var(--series-graph-margin-to-sidebars)));
}

.sidebar.--right.--moved-upwards-by-series-graph {
	transform: translateY(calc(-1 * var(--series-graph-height) - var(--series-graph-margin-to-sidebars)));
}

.sidebar.--left.--moved-upwards-by-round-graph {
	transform: translateY(calc(-1 * var(--round-graph-height) - var(--round-graph-margin-to-sidebars)));
}

.sidebar.--right.--moved-upwards-by-round-graph {
	transform: translateY(calc(-1 * var(--round-graph-height) - var(--round-graph-margin-to-sidebars)));
}
